body
{
    background-color: #000;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5rem;
    margin: 2%;
}

.alert
{
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 50px;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 0;
}
